In [3]:
import pandas as pd
import networkx as nx

In [5]:
edges=pd.read_csv('edges.csv')
vertices=pd.read_csv('nodes.csv')

In [6]:
edges.head()

       source                     target
0  Baron Zemo  Blackout (Marcus Daniels)
1  Baron Zemo            Vermin (comics)
2    N'astirh                       S'ym
3    N'astirh    Belasco (Marvel Comics)
4    N'astirh             Madelyne Pryor

In [7]:
vertices.head()

   group                        id  size
0      1                Baron Zemo     2
1      1                  N'astirh     3
2      0              Silver Sable     1
3      0     Hope Summers (comics)     1
4      0  Magik (Illyana Rasputin)     1

In [8]:
G=nx.Graph()
for _, row in vertices.iterrows():
    G.add_node(row['id'])
for _, row in edges.iterrows():
    G.add_edge(row['source'], row['target'])

MÃ©tricas relacionales para cada nodo.

In [ ]:
degree=nx.degree(G)
triangles=nx.triangles(G)
degree_centrality= nx.degree_centrality(G)
closeness_centrality = nx.closeness_centrality(G)
betweenness_centrality = nx.betweenness_centrality(G)
eigenvector_centrality = nx.eigenvector_centrality(G)
clustering = nx.clustering(G)
print(degree)

In [ ]:
degreeL= [v for v in degree]
degree = list(degree.values())
degree_centralityL = [degree_centrality[v['id']] for _,v in vertices.iterrows()]
closeness_centralityL = [closeness_centrality[v['id']] for _,v in vertices.iterrows()]
betweenness_centralityL = [betweenness_centrality[v['id']] for _,v in vertices.iterrows()]
eigenvector_centralityL =[eigenvector_centrality[v['id']] for _,v in vertices.iterrows()]
clusteringL = [clustering[v['id']] for _,v in vertices.iterrows()]

<class 'dict'>

Crear el dataframe con los datos.

In [1]:
df = pd.DataFrame({'degree':degree, 'triangles':triangles, "degree_centrality":degree_centrality,
                  'closeness_centrality':closeness_centrality, 'betweenness_centrality':betweenness_centrality,
                    'eigenvector_centrality':eigenvector_centrality,'clustering':clustering,'group':vertices['group']})

NameError: name 'pd' is not defined