In [13]:
import pandas as pd
import networkx as nx

In [9]:
edges=pd.read_csv('edges.csv')
vertices=pd.read_csv('nodes.csv')

In [10]:
edges.head()

       source                     target
0  Baron Zemo  Blackout (Marcus Daniels)
1  Baron Zemo            Vermin (comics)
2    N'astirh                       S'ym
3    N'astirh    Belasco (Marvel Comics)
4    N'astirh             Madelyne Pryor

In [11]:
vertices.head()

   group                        id  size
0      1                Baron Zemo     2
1      1                  N'astirh     3
2      0              Silver Sable     1
3      0     Hope Summers (comics)     1
4      0  Magik (Illyana Rasputin)     1

In [41]:
G=nx.Graph()
for _, row in vertices.iterrows():
    G.add_node(row['id'])
for _, row in edges.iterrows():
    G.add_edge(row['source'], row['target'])

In [37]:
from collections import Counter

tam = Counter(len(c) for c in nx.connected_components(G))

print(tam)

Counter({2: 30, 3: 11, 4: 5, 5: 4, 6: 3, 7: 1, 181: 1, 11: 1})

In [40]:
Counter(v['group'] for _,v in vertices.iterrows())

Counter({1: 194, 0: 121, 2: 35})